html {
  padding: 30px;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: black;
  background-position: center;
  height: 100%;
}

body {
  margin: 0;
  padding: 20px;
  color: black;
  background-color: rgba(255,255,255,0.75);
}

.row {
  padding: 0px;
  margin: 0px;
}

h1, h2, h3, h4, h5, h6 {
  padding: 0px;
  margin: 10px;
}

header {
  background-image: url("./assets/images/hardwoodFloors.jpeg");
  background-size: cover;
  background-position: center;
  text-align: center;
  padding: 75px 30px;
}

footer {
  padding: 20px;
  text-align: center;
}

nav, footer, .infoBar, .contactBox, .aboutBox, .galleryBox, .logoBox, .noteBox, .signBox {
  background-color: rgb(48, 111, 170);
  color: white;
}

.contactBar {
  background-color: rgb(50,50,50);
  color: white;
  font-size: 1em;
  padding: 10px;
}

.logoBox {
  margin-bottom: 20px;
  text-align: center;
  padding: 30px;
}

.left, .right {
  padding: 50px;
}

.galleryBox {
  text-align: center;
  margin-bottom: 20px;
  padding: 50px;
}

.infoBar {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
  font-size: 1.25em;
}

.noteBox {
  text-align: center;
  padding: 10px;
  margin-bottom: 20px;
}

.signBox {
  text-align: center;
  padding: 50px;
  margin-bottom: 20px;
}

nav ul a {
  color: white;
}

.contactBox {
  text-align: center;
  padding: 50px;
  margin-bottom: 20px;
}

.specializeBox, .saleBox, .servicesBox {
  text-align: center;
  background-color: white;
  padding: 50px;
  margin-bottom: 20px;
}

.saleBox p {
  text-align: left;
}

.logoC {
  max-width: 100px;
  padding: 20px;
}

.bonusBox h2, .specializeBox h2, .aboutBox h2, .saleBox h2, .saleBox h4, .galleryBox h2, .servicesBox h2 {
  text-align: center;
}

.bonusBox {
  padding: 50px;
  background-image: url("./assets/images/paintingRoom.jpeg");
  background-size: cover;
  background-position: center;
  margin-bottom: 20px;
}

.topImg, .aboutImg, .lowerImg {
  height: 500px;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
  background-repeat: no-repeat;
  margin-bottom: 20px;
}

.topImg {
  background-image: url("./assets/images/kitchens/1.jpg");
}

.aboutImg {
  background-image: url("./assets/images/bathrooms/9.jpg");
}

.lowerImg {
  background-image: url("");
}

.aboutBox {
  padding: 50px;
  margin-bottom: 20px;
}

.galleryThumbnail1, .galleryThumbnail2, .galleryThumbnail3, .galleryThumbnail4, .galleryThumbnail5, .galleryThumbnail6 {
  background-size: cover;
  background-position: fixed;
  height: 300px;
  border-radius: 15px;
  box-shadow: 0px 0px 7px 2px white;
  margin: 10px;
  padding: 10px;
}

.card-title {
  width: 100%;
  background-color: rgba(0,0,0,0.75);
  padding: 10px;
}

.card .card-image .card-title {
  padding: 10px;
  margin-bottom: 30px;
}

.indicators {
  display: none;
}

.servicesBox li {
  font-size: 1.25em;
  list-style-type: circle;
}

.servicesBox p {
  font-size: 1.25em;
}

.nav-wrapper a {
  font-size: 1.5em;
}

.material-icons {
  vertical-align: text-bottom;
  padding-right: 5px;
}

.signBox .slides {
  height: 800px;
}